language: node_js
node_js:
  - '8'
deploy:
  provider: npm
  email: muyuxingguang@qq.com
  api_key:
    secure: H83kZqdmgUy82i5LXnHDRHheZQmonitdd30LHbS4N2T8ADP+shx60OzCAYoZ2mgEp+xWhnCYeCP5l8CLQ8uK6nDuL7RYIVXBUbrrrG7sktQduw1z5KAS3gZaF3zcvlDyNZhWHHSiusyOw7FCgtGoYm5OzVrM1/cguDNg6tscAW+EUvGl7UfGQuDIp+orTP5vF6W4G9WmEhEAFjyYht+bdIEmW1d6+GzMe/FYUp7GI0xbxqg1KRDze0fje+XPKv+zcL8QpO+bZYIBypTZQEaNl7CrpnqT3IkZh40c4qnbDc85Yy4IeBcdg1G79i1Clql1ffmMw2YjjSrN5IV9+kYnm47Z01zGpirkgv2+WPTyhOMSOBkZj3wRYuikfCIKRpVMfNJakru95LQQ6IPMIpF+oYbz301SUmnsPc5YRI48PMHVi1ncZ4lEK2AaFEDDluK3zf71Eed1kOWZh794mQErBP5xYpVLMyNfPgFLR7AKE+vSKC+EV1qpPOBHPNT2Zg5wM29JK9Dhv/LH+chNBEaiPKanmcdPFcLdkoEIcaF2zMROSaLk7LubZmfWwXqKx5yIxgAvFC3Turex+K8EzrQ0KTt8fnc2hCMYIGqbcjSs2DlnKbULGheed8FZSpPki/Fhv2SPFSLY6mvJeLby0S+NLKkrDGmI0m7x5tilTqPHbEc=
  skip_cleanup: true
  on:
    tags: true
    branch: master
  tag: latest
  condition: '$TRAVIS_TAG =~ ^v[0-9]+.[0-9]+.[0-9]+$'
